@import "./variables";
.mountain {
  height: 100%;
  position: relative;
}
.mountain-picture {
  height: 100%;
  clip-path: circle();
}
.mountain-header {
  font-size: 3rem;
  opacity: 1;
  color: black;

  transition: all 0.3s;
  text-transform: uppercase;
}
