@import "./variables";
.nature {
  height: 30rem;
  position: relative;
}
.nature-picture {
  height: 30rem;
  clip-path: circle();
  transition: all 0.3s;
}
.nature-header {
  font-size: 3rem;
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  text-transform: uppercase;
}
.nature:hover .nature-picture {
  filter: grayscale(90%);
}
.nature:hover .nature-header {
  opacity: 1;
  top: 50%;
}
