@import "_variables.scss";
.text-effect{
    background-image: url("./media/minecraft.jpg");
    background-position: center;
    color: transparent;
    font-size: 8rem;
    -webkit-background-clip: text;
    transform: all 0.3s;
}
.text-effect:hover{
    transform: skewY(-10deg);
    letter-spacing: 3rem;
}