html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: red;
  margin: 1rem auto;
  font-size: 2rem;
  border-radius: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btn-red {
  background-color: #ff5722;
  color: #fff;
}

.btn-red::after {
  background-color: #ff5722;
  color: #fff;
}

.btn:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.7);
}

.btn::after {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scaleX(1.5) scaleY(1.6);
          transform: scaleX(1.5) scaleY(1.6);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tiger {
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.tiger:hover {
  border-radius: 0;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-effect {
  background-image: url("./media/minecraft.jpg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  -webkit-transform: all 0.3s;
          transform: all 0.3s;
}

.text-effect:hover {
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  letter-spacing: 3rem;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flower-parent {
  width: 60rem;
  height: 40rem;
}

.flower-gallery {
  margin: 3rem;
  position: relative;
}

.flower-photo {
  position: absolute;
  height: 20rem;
  -webkit-box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.4);
  outline-offset: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.flower-photo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 3rem 1rem rgba(0, 0, 0, 0.4);
  outline: 1rem solid;
  z-index: 2;
}

.flower-gallery:hover .flower-photo:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}

.flower-photo-1 {
  top: 10rem;
  left: 15%;
}

.flower-photo-2 {
  top: 2rem;
  right: 0;
}

.flower-photo-3 {
  top: -2rem;
  left: 0;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mountain {
  height: 100%;
  position: relative;
}

.mountain-picture {
  height: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.mountain-header {
  font-size: 3rem;
  opacity: 1;
  color: black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */